body { margin: 0;}

.infos{
    position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 0;
	display:block;
    color:#fefaef;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size:4em;
}
h2{
    font-family: 'Rubik', sans-serif;
}
p{
    font-family: 'Rubik', sans-serif;
    max-width: 50%;
    margin: auto;
    text-align: center;
}